body{
    margin: 0;
    padding: 0;
} 

.app_title{
    text-align: center;
    font-size: 7vh;
    text-shadow: 3px 3px 3px #bdbaba;
}

.app_body{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin: 10vh 0;
    flex-wrap: wrap;
}

.Saved_contact_container{
    border: 2px solid black;
    padding: 6px;
    width: 500px;
    height: 480px;
    margin-bottom: 3vh;
    margin-top: 3vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.Saved_contact_container::-webkit-scrollbar{
    display: none;
}

.add_contact_container{
    border: 5px solid black;
    padding: 6px;
    width: 350px;
    height: fit-content;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 1vh;

}

.user_input{
    display: block;
    margin: 3vh auto;
    font-size: 22px;
    padding:1vh;
    width: 75%;
    border-radius: 1vh;
}

.add_contact_button{
    font-size: 3vh;
    padding: 3% 3vh;
    font-weight: bold;
    border-radius: 2vh;
    border: none;
    margin: 4vh 17%;
    cursor: pointer;
    box-shadow: 3px 3px 4px #bdbaba;
}

.sec_title{
    text-align: center;
}

