body{
    margin: 0;
    padding: 0;
    color:  #E88C76;
    background-color: #355070;
} 

.border_radius{
    border-radius: 50vh 96vh 60vh 40vh;
}

.app_title{
    text-align: center;
    font-size: 7vh;
    text-shadow: 0px 0px 2px #E88C76;
}

.app_body{
    display: flex;
    justify-content: space-around;
    margin: 10vh 0;
    flex-wrap: wrap;
}

.Saved_contact_container{
    padding: 6px;
    width: 500px;
    height: 480px;
    margin-bottom: 3vh;
    margin-top: 3vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #ffe0cf;
    border-radius: 3vh;
}

.Saved_contact_container::-webkit-scrollbar{
    display: none;
}

.add_contact_container{
    
    padding: 6px;
    width: 450px;
    height: fit-content;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #ffe0cf;

}

.user_input{
    display: block;
    margin: 3vh auto;
    font-size: 22px;
    padding:1vh;
    width: 70%;
    border-radius: 1vh;
    border: 2px solid #6D597A;
}

.add_contact_button{
    font-size: 3vh;
    padding: 3% 3vh;
    font-weight: bold;
    border-radius: 2vh;
    border: none;
    margin: 4vh 17%;
    cursor: pointer;
    box-shadow: 3px 3px 3px  #8e7a9b;
    background-color: #6D597A;
    color: #EAAC8B;
}

.saved_sec_title{
    text-align: center;
    text-shadow: 0px 0px 2px #E88C76;
}

.add_sec_title{
    text-shadow: 0px 0px 2px #E88C76;
    margin-left: 16%;
    margin-bottom: 5%;
}

.title_icon{
    text-shadow: 0px 0px 5px rgb(239, 84, 84);
}

